@import "tailwindcss";
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 1rem;
  gap: 1rem;
}

.border {
  border: 1px solid;
}

.parent {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  max-width: 800px;
  width: 100%;
}

.child-player,
.child-c,
.child {
  border: 0.2px solid;
  padding: 1rem;
}

.child-player.ship,
.child-c.ship,
.child.ship {
  background-color: blue;
}

.child-player.hit,
.child-c.hit,
.child.hit {
  background-color: green;
}

.child-player.miss,
.child-c.miss,
.child.miss {
  background-color: red;
}
